<div class="container sheet padding-20mm" style="font-family: arial,helvetica, sans-serif; font-size: 8pt;">
<div class="content" style="margin: 0; padding: 0;"><!-- Bloc doctor -->
<div class="doctorstyle">
<div class="right" style="text-align: right;"><span class="mceNonEditable" th:utext="${doctor.town}">doctor.town</span> le <span class="mceNonEditable" th:utext="${info.date}">info.date</span></div>
<div class="left" style="text-align: left;">
<div class="coord" style="font-weight: bold;">Dr <span class="mceNonEditable" th:text="${doctor.lastName}">doctor.lastName</span> <span class="mceNonEditable" th:text="${doctor.firstName}">doctor.firstName</span></div>
<div class="coord"><span class="mceNonEditable" th:text="${doctor.adresse}">doctor.adresse</span> <span class="mceNonEditable" th:utext="${doctor.houseNumber}">doctor.houseNumber</span></div>
<div class="coord"><span class="mceNonEditable" th:text="${doctor.townCode}">doctor.townCode</span> <span class="mceNonEditable" th:text="${doctor.town}">doctor.town</span></div>
<div class="small" style="font-size: 0.8em;">
<div>Tel : <span class="mceNonEditable" th:text="${doctor.tel}">doctor.tel</span></div>
<div>INAMI : <span class="mceNonEditable" th:text="${doctor.inami}">doctor.inami</span></div>
<div>EMAIL : <span class="mceNonEditable" th:text="${doctor.mail}">doctor.mail</span></div>
</div>
</div>
</div>
<!-- Fin Bloc doctor --> <!-- Bloc diete -->
<div style="text-align: center; font-size: 1.5em;"><em>Di&egrave;te d&lsquo;&eacute;pargne intestinale</em></div>
<br/>
<div class="content gastro" style="margin-bottom: 0mm; line-height: 100%;">
<div style="text-align: left; font-size: 1.2em;">PREMIER JOUR : aucune alimentation solide</div>
<div style="margin-left:5em;">
<p>Boire 3 litres sur la journ&eacute;e = 1 verre par heure</p>
<ul style="line-height: 1.3em;">
<li>De pr&eacute;f&eacute;rence, AQUARIUS</li>
<li>Second choix coca d&eacute;gaz&eacute; ou jus de pomme &agrave; moiti&eacute; coup&eacute; d&rsquo;eau</li>
<li>Soit potage de l&eacute;gumes (carottes, courgettes, potiron&hellip;), bien mix&eacute; tr&egrave;s fin ! <strong>pas d&rsquo;eau plate ni p&eacute;tillante</strong>, pas de boissons p&eacute;tillantes, pas d&rsquo;alcool, pas de jus de fruit, pas de boisson lact&eacute;e, pas de caf&eacute;, pas de th&eacute;.</li>
</ul>
</div>
<div style="text-align: left; font-size: 1.2em;">DEUXI&Egrave;ME JOUR : riz ou p&acirc;tes natures et carottes = repas TEST</div>
<div style="margin-left:5em;">

  <p>si pas dig&eacute;r&eacute; -&gt;recommencer les liquides 24h, maximum 4 jours, sinon, prise de sang et analyse de selles</p>
  <p>si dig&eacute;r&eacute;: <strong>REGIME BLANC</strong></p>
  <ul style="line-height: 1.3em;">
  <li>F&eacute;culents : pain, p&acirc;tes, pommes de terre, riz, bl&eacute;, semoule, Craquottes, biscottes, le tout &agrave; base de farine blanche</li>
  <li>Viandes: filet de poulet ou de dinde</li>
  <li>Poissons blancs</li>
  <li>L&eacute;gumes: blancs de poireau, chicons, courgettes&hellip;</li>
  <li>Exclure les l&eacute;gumes verts et les crudit&eacute;s</li>
  <li>Seule exception: les carottes sont autoris&eacute;es</li>
  <li>Fruits: banane, pomme ou poire &eacute;pluch&eacute;e</li>
  <li>Produits laitiers: blancs et maigres</li>
  </ul>

</div>
<div style="text-align: left; font-size: 1.2em;">Traitement m&eacute;dicamenteux</div>
<div style="margin-left:5em;">
<ul style="font-style: italic; line-height: 1.3em;">
<li>Protectis,Enterol ou Ant&eacute;dia ou Imutis :<br />
<div class="subalinea" style="padding-left: 100px; display: inline-block;">2 x 2/jour pendant <strong>5 jours</strong> en curatif<br />2 x 1/jour pendant <strong>5 jours</strong> en pr&eacute;ventif</div>
</li>
<li>Motilium si naus&eacute;es ou vomissements</li>
<li>Tasectan ou tiorfix,4x 1/jour de pr&eacute;f&eacute;rence,Imodium 1 par selle tr&egrave;s liquide (pas avant 15-16 ans)</li>
<li>Buscopan si crampes au ventre (pas avant 5-6 ans)</li>
<li>Dafalgan si temp&eacute;rature, jamais de d&eacute;riv&eacute;s d&rsquo;Aspirine ni d&rsquo;anti-inflammatoires comme Nurofen</li>
</ul>
</div>
</div>
<!-- Fin Bloc diete --></div>
</div>
